html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #f7f5f2;
}
header .scroll {
  text-align: center;
  padding-top: 50px;
}
header .scroll p {
  font-weight: 300;
  font-size: 2rem;
  color: #232e31;
}
header .theme {
  font-size: 3.3rem;
  margin-right: 150px;
  border: none;
  background: transparent;
  color: #ff8059;
  cursor: pointer;
  z-index: 99;
}

.headerTexts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 120px;
}
.headerTexts .nameText {
  width: 70%;
}
.headerTexts .description {
  width: 40%;
}
.headerTexts .description p {
  font-size: 2rem;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: goldenrod;
  width: 40vmax;
  z-index: -10;
  -webkit-animation: move 10s ease-in-out infinite;
          animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@-webkit-keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
.downArrow {
  padding-top: 20px;
}
.downArrow .fa-chevron-down {
  color: #ff8059;
  font-size: 3rem;
}
.downArrow a {
  text-decoration: none;
  cursor: pointer;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 45px;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 100px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #ff8059;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff8059;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ff8059;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #f7f5f2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ff8059;
}

#menu li:hover {
  color: #232e31;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

#menu {
  transform: none;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#aboutMe {
  background-color: #ebe7e0;
}
#aboutMe h1 {
  padding-top: 40px;
  padding-bottom: 50px;
}
#aboutMe .photo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 15px;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  position: relative;
}
.aboutContainer .myStory {
  width: 60%;
  border-left: 2px solid #ff8059;
  padding-top: 20px;
}
.aboutContainer .myStory p {
  margin-left: 40px;
}
.aboutContainer .scrollProjects {
  text-align: center;
}
.aboutContainer .scrollProjects p {
  padding-top: 15px;
  font-size: 1.8rem;
}

.skills {
  width: 45%;
}
.skills h2 {
  margin-right: 40px;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.skills ul {
  list-style-type: none;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 40px;
}
.skills ul li {
  text-align: center;
  margin: 15px;
  font-size: 3.5rem;
  color: #232e31;
}
.skills ul li p {
  margin-top: 5px;
  color: #232e31;
}

#myProjects {
  background-color: #f7f5f2;
}

.projectIntro {
  margin-left: 43%;
  margin-bottom: 70px;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-left: 2px solid #ff8059;
}

.projectsContainer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projectsContainer h1 {
  position: absolute;
  top: -30px;
  padding-bottom: 50px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
.project img {
  width: 60%;
  height: auto;
}
.project .projectText {
  padding-left: 60px;
  width: 70%;
}
.project .projectText p {
  margin-bottom: 10px;
}
.project .projectText a {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #ff8059;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
}

#Contact {
  background-color: #ebe7e0;
  padding-top: 70px;
  padding-bottom: 50px;
}
#Contact .contactContainer {
  position: relative;
}
#Contact .contactFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#Contact .contactFlex ul li {
  list-style-type: none;
  font-size: 25px;
  margin-left: 50px;
  padding-bottom: 15px;
  text-align: center;
  color: #232e31;
  transition: all 0.2s ease-in-out;
}
#Contact .contactFlex ul li a {
  color: #232e31;
}
#Contact .contactFlex ul li:hover {
  scale: 1.2;
}
#Contact .socialIcons {
  padding: 20px 20px 5px 20px;
  border-left: 2px solid #ff8059;
}
#Contact h1 {
  position: absolute;
  top: -100px;
}
#Contact h2 {
  font-weight: 400;
  padding-bottom: 5px;
}
#Contact .contactText {
  width: 50%;
}
#Contact .contactText a {
  background-color: goldenrod;
  color: #f7f5f2;
  padding: 0 3px;
}

footer {
  background-color: #ff8059;
  height: 40px;
  text-align: center;
}
footer p {
  color: #f7f5f2;
  padding-top: 10px;
}

@media only screen and (max-width: 480px) {
  body h1 {
    font-size: 3.5rem;
  }
  body h2 {
    font-size: 1.6rem;
  }
  body h3 {
    font-size: 1.5rem;
  }
  body p {
    font-size: 1.4rem;
  }

  header .headerTexts {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  header .headerTexts .description p {
    font-size: 1.4rem;
  }
  header .scroll p {
    font-size: 1.7rem;
  }

  #aboutMe h1 {
    padding-bottom: 20px;
  }
  #aboutMe h2 {
    margin-right: 0;
  }
  #aboutMe .myStory p {
    margin-left: 0;
  }
  #aboutMe .scrollProjects p {
    font-size: 1.7rem;
  }

  #myProjects .projectIntro {
    margin-left: 0;
    border-left: none;
    border-bottom: 1.5px solid #ff8059;
    padding-left: 0;
  }
  #myProjects .project {
    flex-direction: column;
  }
  #myProjects .project img {
    width: 100%;
  }
  #myProjects .project .projectText {
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  #Contact .contactFlex {
    flex-direction: column;
  }
  #Contact .contactFlex .contactText {
    width: 100%;
    margin-bottom: 20px;
  }
  #Contact .contactFlex .socialIcons {
    border-left: none;
    border-top: 1.5px solid #ff8059;
    width: 100%;
  }
  #Contact .contactFlex .socialIcons ul {
    display: flex;
    flex-direction: row;
  }
  #Contact .contactFlex .socialIcons li {
    margin-left: 0;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 849px) {
  header .headerTexts {
    flex-direction: column;
    padding-left: 50px;
  }
  header .headerTexts .description {
    width: 90%;
  }
  header .headerTexts .description p {
    margin-top: 20px;
  }
  header .scroll {
    padding-top: 0;
  }

  #aboutMe .aboutContainer {
    flex-direction: column;
    align-items: center;
  }
  #aboutMe .skills {
    width: 60%;
  }
  #aboutMe .skills ul {
    margin-right: 0;
  }
  #aboutMe .myStory {
    width: 90%;
    border-left: none;
    margin-top: 30px;
  }
  #aboutMe .myStory p {
    margin-bottom: 10px;
  }
}
*,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ff8059;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

h1 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 7rem;
  font-weight: 300;
  color: #232e31;
  margin-top: 10px;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #232e31;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #232e31;
  margin-bottom: 10px;
}

p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #232e31;
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */